<!DOCTYPE html>
<html>
<head>
    <title>home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="container">
    <button>
        <a href="/server">Землетруси</a>
    </button>
    <button>
        <a href="/styles-css">Стилі</a>
    </button>
    <button>
        <a href="/script-js">Скрипт</a>
    </button>
    </div>
</body>
<html>