<!DOCTYPE html>
<html>
  <head>
    <title>api</title>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>

  <body>
    <div class="container">
        <form action="/api" method="get" class="container" name="infoform">
        <label for="starttime">Дата початку відліку:</label>
        <input
            type="date"
            id="starttime"
            name="starttime"
            requiredpattern="\d{4}-\d{2}-\d{2}"
        />

        <label for="endtime">Дата кінця відліку:</label>
        <input
            type="date"
            id="endtime"
            name="endtime"
            requiredpattern="\d{4}-\d{2}-\d{2}"
        />

        <button id="submit">Ввести</button>
        </form>
    </div>
  </body>
</html>
